.idea
./backend/Product-Inventory-API/Config.env
./backend/User-API/Config.env
./backend/Notification-API/Config.env
./backend/Order-API/Config.env
./backend/Payment-API/Config.env
./backend/Shipping-API/Config.env
!/backend/Notification-API/Config.env
