
.signup-body{



    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    background-color: #124831;

    position: fixed;

    top: 9vh;
    width: 30vw;
    height: 20vw;
    right: 5vw;
    z-index: 4;


    border-radius: 25px;
    border: 5px solid #eb5143;
}

.text{
    color: #dffe16;
    font-weight: 900;
    font-size: 3vw;
    width: 50%;
    text-align: center;
    margin-top: 13%;
    margin-left: 2%;
    padding-right: 2%;

}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-right: 0.5vw;
    
    border-left: 5px solid #eb5143;

    position: relative;


}

.input{
    margin: 7%;
    padding: 4%;
    background-color: #124831;
    border: 2px solid #dffe16;
    color: white;
    width: 80%;

    border-radius: 10px;
}

.submit{
    background-color: #dffe16;
    color: #124831;
    font-weight: 900;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
}

.submit:active{
    background-color: #cbe715;
}

.input:focus{
    outline: none;
}

.signup-close{
    color: #dffe16;
    position: absolute;
    font-size: 1.5vw;
    font-weight: 900;

    align-self: flex-end;
    margin-bottom: 18vw;
    margin-right: 1vw;
}

.signup-close:hover{
    color: #cbe715;
}

.pass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button{
    position: absolute;
    right:3.3%;
    top: 10.8vw;
    background-color: #dffe16;
    border: none;
    width:1.7vw;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button > img{
    margin-top: 0.7vh;
    width: 1.7vw;
}

@media only screen and (max-width: 1024px){

    .signup-body{
        width: 90vw;
        height: 30vh;
    }

    .inputs{
        width: 45vw;
        height: 50vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        margin-right: 0.5vw;
            
    }

    .submit{
    font-size: 3.5vw;

    }

    .signup-close{
        font-size: 4vw;    
        margin-bottom: 28vh;
    }

    .button{
        top: 17vh;
       
        width:5vw;
    }
    
    .button > img{
        margin-top: 1vh;
        width: 5vw;
    }

    .text{
        font-size: 10vw;
        width: 50%;
        margin-top: 10%;
        margin-left: 2%;
        padding-right: 2%;
    
    }

}
